<nav class="navbar navbar-collapse navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Asfabras</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="consulta">Usuários</a>
        <a class="nav-item nav-link" routerLink="tarefas">Tarefas</a>
        <a class="nav-item nav-link" routerLink="setor">Setores</a>
        <a class="nav-item nav-link" routerLink="cliente">Clientes</a>
        <a class="nav-item nav-link" routerLink="workflow">Works</a>
        <a class="nav-item nav-link" routerLink="login">Login</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="#">
          <i class="fa fa-sign-out"></i>
        </a>
      </div>
    </div>
  </nav>