<div class="container">
    <button pButton type="button" class="ui-button-raised ui-button-rounded" label="Voltar" icon="pi pi-angle-double-left" (click)="goConsulta();"></button>
    <hr>


    <p-fieldset legend="{{titulo}}">


        <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
            <span class="ui-float-label">
                <input id="nome" type="text" class=" col-sm-12" [(ngModel)]="usuario.nome" pInputText required>
                <label for="nome">Nome</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
            <span class="ui-float-label">
                <input id="email" type="email" class=" col-sm-12" [(ngModel)]="usuario.email" pInputText required email>
                <label for="email">Email</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3 ui-fluid">
            <p-inputSwitch [(ngModel)]="usuario.ativo" id="status" pTooltip="Inativo/Ativo" tooltipPosition="top"></p-inputSwitch>

        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <span class="ui-float-label">
                <p-dropdown [options]="perfis" [(ngModel)]="usuario.perfil" id="perfil" placeholder="Selecione o Perfil" optionLabel="perfil"
                    [showClear]="true"></p-dropdown>
                <label for="perfil">Perfil</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid">
            <span class="ui-float-label">
                <input id="senha" type="password" weakLabel="Fácil" mediumLabel="Média" strongLabel="Forte" pPassword [(ngModel)]="usuario.senha"
                    required/>
                <label for="senha">Senha</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-2 ui-fluid">
            <button pButton (click)="salvar();" label="{{botao}}" class="ui-button-success ui-button-raised ui-button-rounded"></button>
        </div>


    </p-fieldset>
</div>