<p-confirmDialog></p-confirmDialog>

<div class="container">  
  <div class="form-group">
      <button pButton type="button" class="ui-button-success ui-button-raised ui-button-rounded" icon="pi pi-user-plus"  label="Novo Setor" (click)="redireciona();"></button>
  </div>
  <p-table [value]="setores" [paginator]="true" [rows]="7" [responsive]="true"  >
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 5em">Id</th>
              <th>Setores</th>
              <th style="width: 8em">Opções</th>  
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-set>
          <tr>
              <td>{{set.id}}</td>
              <td>{{set.setor}}</td>     
                            <td>
                      <a (click)="editar(set.id, i);" class="btn btn-link">
                              <span class="fa fa-pencil"></span>
                      </a>
                      <a (click)="showConfirm(set.id, i)" class="btn btn-link">
                              <span class="fa fa-trash"></span>
                      </a>
                        <!--testando aqui a mensagem-->
                        <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
                            <ng-template let-message pTemplate="message">
                                <div style="text-align: center">
                                    <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                                    <h3>{{message.summary}}</h3>
                                    <p>{{message.detail}}</p>
                                </div>
                                <div class="ui-g ui-fluid">
                                    <div class="ui-g-6">
                                        <button type="button" pButton (click)="onConfirm(set.id, i)" label="Sim" class="ui-button-success"></button>
                                    </div>
                                    <div class="ui-g-6">
                                        <button type="button" pButton (click)="onReject()" label="Não" class="ui-button-secondary"></button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-toast>
  
              </td>
          </tr>
      </ng-template>
  </p-table>
  Registros encontrados : {{setores.length}}
  </div>
 
  